{
    "timeout": 360,
    "servers": [
        {
        "ip": "192.168.33.11"
        "roles": ["swift_proxy", "keystone"]
        },
        {
        "ip": "192.168.33.22",
        "extra_disks": ["vdb", "vdc", "vdd"]
        "roles": ["swift_data"]
        },
        {
        "ip": "192.168.33.33",
        "extra_disks": ["vdb", "vdc", "vdd"]
        "roles": ["swift_data"]
        }
    ],
    "keystone": {
        "user": "admin",
        "password": "123456"
    },
    "management": {
        "type": "manual"
    }
}
