{
    "timeout": 120,
    "services_password":"123456",
    "servers": [
        {
        "hostname": "SERVER1.COM"
        },
        {
        "hostname": "SERVER2.COM",
        "extra_disks": ["vdb", "vdc", "vdd"]
        },
        {
        "hostname": "SERVER3.COM",
        "extra_disks": ["vdb", "vdc", "vdd"]
        }
    ],
    "setup_tools": {
        "setup_script": "packstack_deploy.py",
        "save_state_script": "openstack_save_state.py",
        "load_state_script": "openstack_load_state.py",
        "cleanup_script": ""
    }
}
